[submodule "packages/ckeditor5-mermaid"]
	path = packages/ckeditor5-mermaid
	url = https://github.com/TriliumNext/ckeditor5-mermaid
	branch = master
[submodule "packages/ckeditor5-footnotes"]
	path = packages/ckeditor5-footnotes
	url = https://github.com/TriliumNext/ckeditor5-footnotes.git
[submodule "packages/ckeditor5-keyboard-marker"]
	path = packages/ckeditor5-keyboard-marker
	url = https://github.com/mlewand/ckeditor5-keyboard-marker.git
